$color-primary: #2a7de1;
$color-secondary: #20bfa9;

$color-text: #334155;
$color-muted: #64748b;

$color-bg: #f8fafc;
$color-surface: #ffffff;

$border-color: #e2e8f0;

$font-heading: "Poppins", sans-serif;
$font-body: "Inter", sans-serif;